# Python
backend/venv/
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env

# Node.js
frontend/node_modules/
frontend/.next/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# IDE
.vscode/
.idea/

# Python cache
.pytest_cache/
.mypy_cache/

# Build
dist/
build/

# Cloned repositories
backend/repositories/
backend/temp/
# ChromaDB
backend/database/

# Zip files
*.zip

# Temp repositories
backend/temp/